/* Reset de estilos para asegurar una base consistente */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Estilos globales */
body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px; /* Agregar margen alrededor del contenido */
}

/* Estilos para el encabezado (h1) */
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos para los párrafos (p) */
p {
    font-size: 1em;
    margin-bottom: 15px;
}

/* Estilos para enlaces */
a {
    color: #00bcd4; /* Cyan */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #008ba3; /* Darker Cyan on hover */
}

/* Estilos para el menú superior */
header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}





.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}








/* ================================================================================================================================== */


/*

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav a:hover {
    border-bottom: 2px solid white;
}

*/